*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    background-color: red;
    padding: 5px;
    text-transform: capitalize;
    border-radius: 6px;
    color: white;
}
button:hover{
    background-color: yellow;
    height: 50px;
    width: 70px;
    border-radius: 10px;
    color: aqua;
}

#hover_div{
    background-color: green;
    height: 300px;
    width: 60%;
    margin: auto;
    border-radius: 50px;
}

#hover_div:hover{
    background-color: brown;
    height: 500px;
    width: 100%;
    border-radius: 20px;
}